header {
  background-color: black;
}

.header_Main {
  width: 100%;
  height: 44px;
}

.header_Navbar{
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_Logo {
  height: 25px;
  width: 147px;
  padding-top: 3px;
  padding-left: 4px;
}

.header_Menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.header_Menu-Item {
  padding: 0px 12px;
  color: white;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 17px;
}

.header_Menu-Icon {
  padding: 0px 12px;
  color: #e2127A;
  text-decoration: none;
  font-size: 17px;
}

.color_Icon {
  color: #e2127A;
}

.article_Main {
  margin: 0 auto;
  max-width: 900px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
}

.article_Main-List {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}

.article_Main-Tab1 {
  padding: 6px 3px;
  color: #e2127A;
  border-top: 1px solid #e2127A;
  border-right: 1px solid #e2127A;
}

.article_Main-Tab2 {
  padding: 6px 3px;
  color: #372b94;
  border-top: 1px solid #372b94;
  border-right: 1px solid #372b94;
}

.article_Main-Tab3{
  padding: 6px 3px;
  color: #f02d25;
  border-top: 1px solid #f02d25;
  border-right: 1px solid #f02d25;
}

.article_Main-Tab4{
  padding: 6px 3px;
  color: #083b0d;
  border-top: 1px solid #024208;
  border-right: 1px solid #024208;
}

.article_Main-TabA {
  color: #083b0d;
  text-decoration: none;
}

.article_Main-TabText{
  padding: 6px;
}


h1 {
  font-family: 'Source Sans Pro', sans-serif;  letter-spacing: normal;
  line-height: 1.2;
  text-transform: none;
  margin-bottom: .6rem;
  font-size: 3em;
  margin-top: 0px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;  letter-spacing: normal;
  font-style: italic;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  font-size: 1.5em;
  color: #6A6A6A;
  margin-top: 5px;
  margin-bottom: .6rem;
}

.credits{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.credits_Divider {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(139, 137, 137, 0.233);
}

.credits_Text {
  font-family: Arial, Helvetica, sans-serif;
  color: #6A6A6A;
  font-weight: 300;
  letter-spacing: normal;
  font-size: 0.8em;
  padding-right: 5px;
}

.credits_Links {
  color: #e2127A;
  text-decoration: none;
}

.images {
  width: 100%;
  height: auto;
}

.images_Thumbnail{
  width: 158px;
}

.divider_Vertical{
  border-left: 1px solid;
  content: "";
  display: inline-block;
  height: 1.1em;
  margin: 0 .4em;
  vertical-align: middle;
  width: 2px;
}

.divider_Horizontal{
  border-bottom: 1px solid #6A6A6A;
  width: 100%;
  height: 0.5em;
}

.social_Media{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.social_Media-Facebook{
  color:#325a97;
  padding-right: 20px;
}

.social_Media-Twitter{
  color:#00aced;
  padding-right: 20px;
}

.social_Media-Share{
  display: flex;
  align-items: center;
  color:#6A6A6A;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1.1em;
}


.figcaption_Link-Red {
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
  color: #e2127A;
  text-decoration: none;
}

figcaption {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(88, 85, 85, 0.233);

}

.figcaption_Normal-Text {
  font-family: Helvetica, sans-serif;
  font-size: 0.7em;
  color: #646464;
  text-decoration: none;

}

.body_Article-Text{
  font-family: Helvetica, sans-serif;
  font-size: 1.15em;
  color: #424242;
  margin-bottom: 21px;
  line-height: 1.5em;
}

.article_Quote-Right{
  margin-left: 580px;
  padding: 15px 3px 3px 3px;
  margin-bottom: 15px;
  color: #e2127A;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;
}

.article_Quote-Left{
  margin-right: 600px;
  padding: 15px 3px 3px 3px;
  margin-bottom: 15px;
  color: #e2127A;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;
}

.links_Text, :visited{
  text-decoration: none;
  color: #e2127A;
}

.releted_Heading {
  width: 240px;
  padding: 15px 3px 3px 3px;
  margin-bottom: 15px;
  color: #424242;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;
}

.releted_Link {
  font-family: Helvetica, sans-serif;
}

.question_Footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question_Footer > q{
  align-items: center;
  justify-content: center;
}

.button_Panel{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.question_Footer-Button{
  width: 70px;
  margin: 5px 5px;
  background-color: #FFF;
  border: 1px solid #e2127a54;
  border-radius: 6px;
  color: #e2127A;
}

.question_Footer-Button:hover{
  background-color: #e2127A;
  color: #FFF;
  
}

.article_Info{
  display: flex;
  flex-direction: row;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  padding-left: 10px;
}

.article_Info-Img{
  height: 200px;
  width: 200px;
  border-radius: 12px;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;  letter-spacing: normal;
  font-size: 2em;
}

.article_Info-Summary{
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.text_Bold{
  font-weight: bold;
}

.text_Small{
  font-size: small;
}

.footer_Main {
  width: 100%;
  height: 220px;
  margin-top: 50px;
  background-color: black;
  color: #FFF;
  font-family: Helvetica, sans-serif;
  font-size: 13.5px;
  text-decoration: none;
}

.footer_Wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer_Center{
  align-items: center;
  width: 600px;
  padding-top: 25px;
}


.footer_Main-List {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  
}

.footer_Main-List > li {
  padding-right: 10px;
  padding-bottom: 10px;
}

.footer_Main-Span {
  padding-left: 5px;
}

.footer_Links {
  color: #e2127A;
  text-decoration: none;
  
}

.footer_Right {
display: flex;
width: 350px;
flex-direction: column;
justify-content: right;
align-items: flex-end;
margin-top: 70px;
}

.footer_List_Right {
  
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.footer_List_Right > li{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-bottom: 10px;
}

.footer_Vox {
  height: 25px;
  width: 150px;
}